main {
    /** { border: 1px solid red;}*/
    align-content: start;
    justify-items: center;
    padding: 3rem 0;
    div.container {
        /** { border: 1px solid blue;}*/
        background: whitesmoke;
        width: 80%;
        min-height: 10rem;
        padding: 2rem;
        color: black;
        display: flex;
        flex-direction: row;
        gap: .2rem;
        section#nav {
            /*border: 1px solid blue;*/
            display: flex;
            flex-direction: column;
            h1 {
                margin: 0;
            }
            /*align-content: start;*/
            /*justify-content: end;*/
            /*align-self: start;*/
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: .3rem;
                padding: 0;
                a {
                /*    width: 100%;*/
                    cursor: pointer;
                    svg {
                        width: 1.5rem;
                    }
                }
                li {
                    padding: .2rem .5rem;
                    /*width: 100%;*/
                    transition: .2s;
                }
                li:hover {
                    background: #e0e0e0;
                    border-radius: .3rem;
                    padding: .5rem;
                    transition: .2s;
                }
                li.selected {
                    background: #4d4d4d;
                    color: whitesmoke;
                    border-radius: .3rem;
                    padding: .5rem;
                    transition: .2s;
                    a {
                        color: whitesmoke;
                        svg {
                            fill: whitesmoke;
                        }
                    }
                }
            }
        }
        section#content {
            flex: 1 0 auto;
            /*border: 1px solid darkgreen;*/
            min-height: 60vh;
            padding: 1rem;
            border-radius: .5rem;
            box-shadow: #0000005f 0 0 .3rem 0 inset;
        }
    }
}