main {
    min-height: 100vh;
    align-content: center;
    padding: 5rem;
    div#register {
        display: flex;
        justify-self: center;
        flex-direction: column;
        max-width: 25rem;
        min-width: 20%;
        /*border: red solid 1px;*/
        border-radius: 1rem;
        background: #ffffff;
        box-shadow: #000000c9 0 0 2rem .1rem;
        padding: 2rem;
        position: relative;
        z-index: 5;
        h1 {
            position: absolute;
            margin: 0;
            /*padding-bottom: 2rem;*/
            width: auto;
            padding: .5rem;
            padding-left: 2rem;
            left: 0;
            color: whitesmoke;
            background: #174F39;
            a {
                position: absolute;
                background: #C2D97D;
                width: 100%;
                height: 100%;
                left: .4rem;
                top: .4rem;
                z-index: -1;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding-top: 4.5rem;
            div.input-group {
                display: flex;
                flex-direction: column;
                gap: .2rem;
                label {
                    font-size: .9rem;
                    color: #505050;
                    font-weight: bold;
                    a {
                        color: #ff0000;
                        font-weight: bold;
                    }
                }
                p {
                    margin: 0;
                    color: #a9a9a9;
                    font-size: .6rem;
                }
                input {
                    align-content: start;
                    height: 100%;
                    font-size: 1.2rem;
                    padding: .4rem;
                    border-radius: .4rem;
                    border: 2px solid #C2D97D;
                }
                padding-bottom: 1rem;
            }
            div.checkbox-group {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                label {
                    font-size: .9rem;
                    color: #505050;
                    /*font-weight: bold;*/
                    text-wrap: pretty;
                    a {
                        color: #ff0000;
                        font-weight: bold;
                    }
                    i {
                        color: #b9b9b9;

                    }
                }
                input {
                    font-size: 1.2rem;
                    padding: .4rem;
                    border-radius: .4rem;
                    border: 2px solid #C2D97D;
                }
                padding-bottom: 1rem;
            }
            button {
                margin-top: 1rem;
                width: 100%;
                padding: .7rem;
                font-size: 1rem;
                font-weight: bold;
                background: #4E8433;
                color: whitesmoke;
                border-radius: .5rem;
                cursor: pointer;
                border: none;
            }
            button:hover {
                background: #174F39;
                transition: .1s;
            }
            p {
                margin: .3rem;
                font-size: .8rem;
                color: #C2D97D;
                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                }
            }
        }
    }
}